.pContent {
    text-align: center;
    box-shadow: 9px 9px 10px #888;
    background-color: white;
    border-radius: 20px;
    background-repeat: no-repeat;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-top: 20px;
    background-size: cover;
}

.bigTitle {
    font-size: 2.5rem;
    font-weight: 600;
    color: rgb(66, 66, 66);
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#first {
    width: 100%;
    height: auto;
    background-color: rgb(179, 179, 179);
    padding-bottom: 50px;
}

.iContainer {
    padding-bottom: 50px;
}

.outline {
    color: #888;
    font-size: 0.9rem;
    margin-top: -20px;
}

.pTitle {
    opacity: 1;
    color: black;
}

.exp {
    margin : 20px 100px 10px 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.pImg {
    height: 300px;
    margin: auto;
}

@media screen and (min-width:775.8px) {
    .pContent {
        width: 800px;
    }
}