
html, body {
  width: 100%;
  height: 100%;
  
  margin : 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url(./img/back.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Pretendard-Regular';
  border-right: thin solid #ffffff;
}

.blackBg {
  width: 100vw;
  height: 100vh;
  transition: opacity 0.5s ease-in-out;
  background-color: rgb(0, 0, 0, 0.2);
  
}

html::-webkit-scrollbar {
  display: none;
  overflow: hidden
}

body.no-scroll {
  overflow: hidden !important;
}

.nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width:80vw;
  padding-top: 3vh;
  margin-left: auto;
  margin-right: auto;
}

.fade-out {
  opacity: 0;
}

.nav-list {
  list-style-type: none;
  display: flex;
  
  text-align: center;
} 

.nav-list > li {
  color: black;
  padding-left: 60px;
  padding-right: 60px;
  text-decoration-line: none;
  font-family: 'Pretendard-Regular';
}

.logo {
  padding-left: 10vw;
  padding-bottom: 20px;
  margin-top: -5px;
  width: 272px;
  height: auto;
}



@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}



.name {
  font-weight: 100;
}